:host {
  --bg-color: #0f111a;
  --card-bg: #ffffff;
  --text-color: #0f111a;
  --vermeg-red: #ED1B2F;
  --input-bg: #2a2e3c;
  --border-color: #3e4451;
}

/* Light mode */
:host.light-theme {
  --bg-color: #0f111a;
  --card-bg: #1e212d;
  --text-color: #ffffff;
  --vermeg-red: #ED1B2F;
  --input-bg: #2a2e3c;
  --border-color: #3e4451;
}

/* Container */
.login-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  position: relative;
}

/* Card */
.login-card {
  background: var(--card-bg);
  padding: 35px 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 650px; 
  color: var(--text-color);
  box-shadow: 0 10px 40px rgba(0,0,0,0.4);
  position: relative;
  text-align: center;
}

/* Logo */
.header-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ffffff;
  padding: 15px 25px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.vermeg-logo {
  width: 200px;
}

/* Theme toggle */
.theme-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: var(--vermeg-red);
  font-size: 1.2rem;
}

/* Titles */
.main-title {
  margin-bottom: 5px;
  font-weight: 700;
}

.subtitle {
  font-size: 0.9rem;
  opacity: 0.85;
  margin-bottom: 25px;
  font-weight: bold;
}


form {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 15px 20px;
  width: 100%;
}
.input-group {
  grid-column: span 2; 
  display: flex;
  gap: 20px;
  width: 100%;
}
.input-group .input-field {
  flex: 1;
}

.input-field {
  text-align: left;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.85rem;
  font-weight: bold;
}

.input-field input {
width: 100%; 
  padding: 12px;
  background: #ffffff;
  border: 1px solid #3f444c;
  border-radius: 8px;
  color: #0f111a;
  box-sizing: border-box;
}

.input-field input:focus {
  outline: none;
  border-color: var(--vermeg-red);
  box-shadow: 0 0 5px rgba(227, 30, 36, 0.3);
}

.password-wrapper {
  position: relative;
}

.toggle-eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #95a5a6;
}

.toggle-eye:hover {
  color: var(--vermeg-red);
}


.full-width {
  grid-column: span 2;
}

/* Button */
.btn-login {
  grid-column: span 2;
  margin-top: 15px;
  padding: 12px;
  background: var(--vermeg-red);
  border: none;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.btn-login:hover {
  background: #b31419;
}

/* Links */
.forgot-link {
  grid-column: span 2;
  text-align: right;
  font-size: 0.8rem;
  color: var(--vermeg-red);
  cursor: pointer;
}

/* Errors */
.error-text {
  font-size: 11px;
  color: #ff4d4d;
}

